    <div class="modal fade" id="aboutus-modal" tabindex="-1" role="dialog" aria-labelledby="aboutus-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="aboutus-modal-title">About us</h3>
                </div>
                <div id="aboutus-modal-body" class="modal-body">
                    <p class="lead">
                        Healthnet is an application designed to streamline the health-care process for hospitals and patients across the country. At its core, HealthNet is meant to enable their hospitals in the US to be able to manage both employees and patients, allowing for users to effortlessly sign-up as patients so that the hospital can, without difficulty, manage their procedures and patient related tasks to optimize day-to-day work-flow.
                    <br><br>
                        The HealthNet product is intended to improve hospitals by providing an easy mechanism for managing employees, gathering statistical data on the inner workings of the hospital, signing up patients, making appointments, and allowing ease of transfer of both patients and their information between hospitals.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Return</button>
                </div>
            </div>
        </div>
    </div>